extends layout

block content
  h1 #{title} Page
  form(method="POST" action="/login")
    div
      label(for="email") Enter Username:
      input(type="text" name="email" required)
    div
      label(for="pw") Enter Password:
      input(type="password" name="pw" required)
    div
      input(type="submit" value="Submit")
