extends layout

block content
  h1 Register Page
  form(method="POST" action="/register")
    div
      label(for="email") Enter Username (email):
      input(type="email" id="email" name="email" required) 
    div
      label(for="pw") Enter Password:
      input(type="password" id="pw" name="pw" required) 
    div
      input(type="submit" value="Submit")
