extends layout

block content
  h1 Register Page
  form(method="POST" action="/register")
    div
      label(for="username") Enter Username:
      input(type="text" name="username" required)
    div
      label(for="password") Enter Password:
      input(type="password" name="password" required)
    div
      input(type="submit" value="Submit")
