body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav ul {
  display: flex;
  gap: 12px;
}
input {
  width: 100%;
}
textarea {
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
